<app-page title="Crear Role" >
    <div class="pt-4 mx-5 md:mx-10 flex flex-row bg-white">
        <div class="mx-auto basis-11/12   md:basis-1/2 lg:basis-1/3 bg-white rounded-lg p-4">
           
       <form  [formGroup]="frmRole" (ngSubmit)="submit()"  >
        <div class="my-3">
            <label for="nombre"  class="labelfrm">
                Nombre
            </label>
            <div class="relative mt-2 rounded-md shadow-md ">
                <input id="nombre" formControlName="name"
                type="text" class="inputfrm">
            </div>
        </div>
      
        <div class="my-3">
            <label for="descripcion" class="labelfrm">
                Descripcion
            </label>
            <div class=" mt-2 rounded-md shadow-md ">
                <input   
                formControlName="description"
                id="descripcion"  type="text" class="inputfrm"  >
            </div>
        </div>
       <!--  <div class="my-3 inline-flex justify-center items-center">
            <label for="isActive" class="labelfrm">
                Activo
            </label>
            <div class=" mt-2 rounded-md shadow-md ">
                <input   
                formControlName="isActive"
                id="isActive"  type="checkbox" class=""  >
            </div>
        </div> -->

        <div class="w-full" >
            <div class="">
                <div class="flex items-center justify-between">
                    <p class="text-gray-800 font-bold focus:outline-none" >Permisos</p>
                </div>
            </div>
            <div class="mt-2 overflow-x-auto">
               
                <table class="w-full  whitespace-nowrap">
                    @for (permiso of permisos; track permiso.id) {
                    <tr tabindex="0" class="focus: outline-none h-10 border border-gray-100 rounded">
                        <td class="ml-5">
                            <div class=" ml-1 bg-gray-200 rounded-sm w-5 h-5 flex flex-shring-0 justify-center items-center relative " >
                                <input 
                                [value]="permiso.id"
                                (change)="onCheckBoxChange($event)"
                                name="permissions"
                                class=" cursor-pointer w-full h-full"
                                type="checkbox">
                            </div>
                        </td>
                        <td>
                            <div class="flex items-center pl-5">
                                    <p class="text-base font-medium text-gray-700 mr-2"  >{{permiso.name}}</p>
                            </div>
                        </td>
                        <td>
                            <div class="flex items-center pl-5">
                                    <p class="text-base font-medium text-gray-700 mr-2"  >{{permiso.description}}</p>
                            </div>
                        </td>
                    </tr>
                }
                </table>
            </div>
        </div>

        <div class="flex justify-end mt-10">
            <button  
        class="flex sm:inline-flex justify-center items-center bg-blue-500 hover:bg-blue-600 active:bg-blue-700 focus-visible:ring ring-blue-300 text-white font-semibold text-center rounded-md outline-none transition duration-100 px-5 py-2"  
        type="submit"> Enviar </button>
        </div>
       </form>
        </div>
</div>
</app-page>